/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --high:#F7A4A4;
  --medimum:#FEBE8C;
  --low:#B6E2A1;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
  display: flex;
  justify-content:space-between;
  padding: 0% 3%;
}
header .container {
 
  
  display: flex;
  align-items: center;
 
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.todo-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.todo-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.todo-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.todo-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.submitbtn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
nav {
  display: flex;
  align-items: center;
  margin-left: 20px;

}
nav a{
  margin-left: 20px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;

}
.create{
  background: #F1F1F1;
  border-radius: 10px;
  border: 2px solid var(--primary);
  padding: 5% 5%;
}

.priority{
 display: flex;
 gap: 10px;

}
.priority button{
 
  margin-top: 10px;
  margin-bottom: 20px;
  width: 30%;
  padding: 3%;
  cursor: pointer;
  border-radius: 4px;
  /* border: 2px solid #ddd; */
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;

}
.high{
  border-radius: 4px;
  border: 2px solid var(--high);
  background-color: var(--high);
  color:#fff;
}
.medium{
  border-radius: 4px;
  border: 2px solid var(--medimum);
  background-color: var(--medimum);
  color:#fff;
}
.low{
  border-radius: 4px;
  border: 2px solid var(--low);
  background-color: var(--low);
  color:#fff;
}

.highactived{
  border: 2px solid var(--high);
}
.updateinput{
  width: 150%;
}
.updatepriority{
  display: flex;
  align-items: center;
  gap: 2px;
}
.setpriority{
  display: flex;
  gap:10%;
}
.todoside{
  display: flex;
  gap: 10px;
}
.todoside button{
  height: 40%;
  background-color: transparent;
  border-color: transparent;
}
